@font-face {
  font-family: 'CiscoSansThin';
  src: url('./CiscoSansThin.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CiscoSansLight';
  src: url('./CiscoSansTTLight.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CiscoSansRegular';
  src: url('./CiscoSansTTRegular.woff');
  font-weight: normal;
  font-style: normal;
}