* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: arial;
}

main {
  display: flex;
}

section {
  background: #222;
  border-radius: 1em;
  padding: 1em;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
