:root {
  --main-accent: #479D74;
}

@font-face {
  font-family: 'Karla';
  src: url('./assets/Karla.ttf');
}

/* avoids alpine.js load blinking */
[x-cloak] { display: none !important; }

* {
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Karla';
  padding: 1em;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.spacer {
  flex-grow: 1;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

main {
  text-align: center;
  max-width: 800px;
}

main > div {
  text-align: left;
}

h2 {
  margin: 0;
}

.time {
  font-size: 1.5em;
}

input, .found-hosts {
  width: 400px;
}

button, input {
  background-color: white;
  border: 1px solid black;
  padding: 1em;
  border-radius: 5px;
  outline: 0;
  font-size: 0.8em;
  margin: 0 0.5em;
}

button {
  cursor: pointer;
}

button.primary {
  background-color: black;
  color: white;
}

:disabled {
  opacity: 0.3;
}

form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}

.found-hosts {
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  gap: 0.5em;
  border: 1px solid #999;
  padding: 0.5em;
  border-radius: 10px;
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1em 0;
}

.table .key {
  font-style: italic;
}

.host {
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}

.action {
  text-align: center;
}

.help {
  font-size: 0.6em;
  font-style: italic;
}

.name {
  text-align: left;
}

.avatar {
  background-color: #ccc;
  background-size: contain;
  background-position: center;
  border-radius: 50%;
  height: 2em;
  width: 2em;
}

.webcam, .photo {
  width: 600px;
  height: 337px;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
}

.box {
  position: relative;
}

.countdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: white;
}

